<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    @{
        var aList = new List<string>
        {
            "one",
            "two",
            "three",
            "four"
        };

        <ul>
            @foreach(string str in aList){
                <li>
                    @str
                </li>    
            }
        </ul>
        
    }

   

    
    
</body>
</html>